{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron">
    <form action="/submit" method="post">
      <label for="sid">Student Id</label><br>
      <input type="text" name = "sid"> <br><br>
      <label for="sname">Student Name</label><br>
      <input type="text" name = "sname"><br><br>
      <label for="sgender">Gender</label><br>
      <input type="radio" id="male" name="gender" value="Male">
      <label for="male">Male</label><br>
      <input type="radio" id="female" name="gender" value="Female">
      <label for="female">Female</label><br><br>
      <label for="sdob">Date Of Birth</label><br>
      <input type="date" id="sdob" name = "sdob"><br><br>
      <label for="scity">City</label><br>
      <input type="text" id="scity" name = "scity"><br><br>
      <label for="sstate">State</label><br>
      <input type="text" id="sstate" name = "sstate"><br><br>
      <label for="smail">Email Id</label><br>
      <input type="email" id="smail" name = "smail"><br><br>
      <label for="squal">Qualification</label><br>
      <input type="text" id="squal" name="squal"><br><br>
      <label for="sstream">Stream</label><br>
      <input type="text" id="sstream" name = "sstream"><br><br>
      <p><input type="submit"></p>
    </form>
  </div>
  {% endblock %}
