{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="static/style.css">
<table>
  <tr>
    <th>Student Id</th>
    <th>Name</th>
    <th>Gender</th>
    <th>DateOfBirth</th>
    <th>City</th>
    <th>State</th>
    <th>Email Id</th>
    <th>Qualification</th>
    <th>Stream</th>
  </tr>
  <tr>
    <td>{{students[0]}}</td>
    <td>{{students[1]}}</td>
    <td>{{students[2]}}</td>
    <td>{{students[3]}}</td>
    <td>{{students[4]}}</td>
    <td>{{students[5]}}</td>
    <td>{{students[6]}}</td>
    <td>{{students[7]}}</td>
    <td>{{students[8]}}</td>
  </tr>

</table>
{% endblock %}
